<div class="top">
    <button class="logInButton" [routerLink]="'/signin'">Login</button>
    <button class="signUpButton" [routerLink]="'/signup'">Sign up</button>
</div>
<div class="lilShit">
    <div class="bottom">
        <div>
            <div class="title-wrapper">
                <div class="static">Start a </div>
                <div class="dynamic"><span class="red">festival</span></div>
            </div>
            <p class="descrip">Pick Where you want to see your favorite artists</p>
        </div>
        <div class="circle">
            <img class="peopleImage" alt="app" src="/assets/landing-image.svg"/>
        </div>
    </div>
</div>
<div class="mission">
    <div class="image-1">
        <img class="connect-image" alt="Connect" src="/assets/connect3-img.jpg">
        <div class="connect-image-overlay connect-image-overlay--blur">
            <div class="connect-image-title text-light">Connect</div>
            <p class="connect-image-description text-light">
                We take the connection that you feel with your artists to the next level.
            </p>
        </div>
    </div>
    <div class="image-2">
        <img class="voice-image" alt="Voice" src="/assets/voice1-img.png">
        <div class="voice-image-overlay voice-image-overlay--blur">
            <div class="voice-image-title text-light">Share</div>
            <p class="voice-image-description text-light">
                Share your thoughts to your favorite artists and let them know where you want to see them now!
            </p>
        </div>
    </div>
    <div class="image-3">
        <img class="save-image" alt="Voice" src="/assets/save6-img.jpg">
        <div class="save-image-overlay save-image-overlay--blur">
            <div class="save-image-title text-light">Pay Less</div>
            <p class="save-image-description text-light">
                Pay less to see your artists more!
            </p>
        </div>
    </div>
    <div class="image-4">
        <img class="attend-image" alt="Voice" src="/assets/attend4-img.jpg">
        <div class="attend-image-overlay attend-image-overlay--blur">
            <div class="attend-image-title text-light">Attend</div>
            <p class="attend-image-description text-light">
                It's time to attend your favorite artists' performances!
            </p>
        </div>
    </div>
</div>

