<div class="top">
    <button class="logInButton" [routerLink]="'/signin'">Login</button>
    <button class="signUpButton" [routerLink]="'/signup'">Sign up</button>
</div>
<div class="lilShit">
    <div class="bottom">
        <div>
            <h1 class="title">Start a <span class="red">festival</span></h1>
            <p class="descrip">Pick Where you want to see your favorite artists</p>
        </div>
        <div class="circle">
            <img class="peopleImage" alt="app" src="/assets/landing-image.svg"/>
        </div>
    </div>
</div>
