<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="table-light">
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Votes</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let vote of votesPerCity">
              <td>{{vote.city}}</td>
              <td>{{vote.state}}</td>
              <td>{{vote.votes}}</td>
            </tr>
          </tbody>
    </table>
</div>