
<div>
    <app-navbar-content></app-navbar-content>
</div>
<br><br><br><br><br>

    <h3>Edit Explore Card</h3>
    <div class="container">
      <form >

      <div class="row">
        <div class="col-25">
          <label for="fname">Stage Name</label>
        </div>
        <div class="col-75" *ngFor="let artist of artists">
          <input type="text" id="sname" name="stageName" placeholder={{artist.stageName}}>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">My Bio</label>
        </div>
        <div class="col-75" *ngFor="let bio of artists">
          <textarea id="bio" name="myBio" placeholder={{bio.artistBio}} style="height:200px"></textarea>
        </div>
      </div>
      <br>

      <div class="row">
        <input type="submit" value="Update">
      </div>
      </form>
    </div>

    <br>
    <h3>Stats Bar</h3>
    <p >display votes for each location here</p>
    <br>
    <h3>Your Votes</h3>
    <p>their purchases go here</p>
