<div class="page">
    <app-navbar-content></app-navbar-content>
    <div class="search">
        <div class="searchbar">
            <input
            type="search"
            class="form-control rounded"
            placeholder="Search here"
            />
        </div>
    </div>
    <div class="search-results">

    </div>
    <button (click)="addArtist()">Click Me</button>
</div>
<!-- <div class="search"> -->
    <!-- <input
    type="search"
    class="form-control rounded"
    placeholder="Search here"
    />
    <button style='font-size:24px'>Button <i class='fas fa-search'></i></button>
        <i class="fas fa-search"></i> -->
