/* .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

.search-results {
    display: flex;
    flex-wrap: wrap;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  margin-top: 30px;
  margin-bottom: 30px;
} */

.page {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
.title{
    text-shadow: 2px 2px 8px white;
    font-size: 24px;
}

.searchbar {
    width: 50vw;
    margin-bottom: 10px;
}

.search-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.artist-card-body {
    text-align: center;
    background-color: #333333;
    padding: 25px 50px 50px 50px;
    border-radius: 0.5rem;
  }

  .card-container {
    margin: 0.5%;
  }

.concertImage {
  width: 200px;
  height: 125px;
  border-radius: 0.75rem;
}

.votebtn {
    background-color: #7c00f8;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 0.35rem;
  }

  /* .browse-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    grid-gap: 2rem;
} */
.artist-card-body{
    text-align: center;
}

.browse-grid{
    /* display:grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center; */

}
.search-results{
    margin-top: 30px;
    /* display:grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center; */

}
.concertImage{
    width: 200px;
    height: 125px;
    border-radius: 0.75rem;
}
.result-container{
    margin-top: 30px;
    display:grid;
    /* display: flex; */
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.voteButton{
    color: #333333;
}

.title{
    text-shadow: 2px 2px 8px #333333;
}

