
.search {
    margin-top: 30px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100vw
}

.artist {
    width: 10vw;
    margin-top: 10vh;
}

.btn {
    width: 20%
}
    /* background-color: #7C00F8; */
